/* Mobile: 375px - Desktop: 1440px */
/* Font size (paragraph): 16px */
/* Family: [Figtree])- Weights: 500, 800*/
/* (https://fonts.google.com/specimen/Figtree) */

:root {
    --bg: #f4d04eff;
    --card-bg: #ffffff;
    --gray950: #121212ff;
    --gray500:#6b6b6bff;
    --text-dark: #0b1220;
}

/* Fuentes locales desde assets/fonts/static */
@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/static/Figtree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--bg);
    font-family: 'Figtree', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-dark);
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    max-width: 375px;
    position: relative;
    background-color: var(--card-bg);
    border-radius: 14px;
    overflow: visible;
    padding: 25px;
    border: 1px solid #000;
}

.card::after {
    content: '';
    position: absolute;
    right: -12px;
    bottom: -12px;
    width: 100%;
    height: 100%;
    background: rgba(10,10,10,0.95);
    border-radius: 14px;
    z-index: -1;
}

.svg-card {
    width: 100%;
    aspect-ratio: 16 / 10;
    overflow: hidden;
    border-radius: 12px;
}

.svg-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.category {
    display: inline-block;
    background-color: var(--bg);
    font-size: 14px;
    font-weight: 800;
    border-radius: 6px;
    color: var(--gray950);
    padding: 8px 10px;
    align-self: flex-start;
    margin-top: 20px;
}

.category p {
    margin: 0;
}

.published-date {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.title-card {
    margin-top: 0px;
}

.title-card h1 {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Figtree', sans-serif;
    transition: color 180ms ease, transform 150ms ease;
}

.title-card h1:hover,
.title-card h1:focus {
    color: var(--bg);
    cursor: pointer;
}

.description-card {
    font-size: 16px;
    color: var(--gray500);
}

.author-card {
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 12px;
}

.author-card img {
    width: 30px;
    height: 30px;
    border-radius: 999px;
}

@media (min-width: 900px) {
    .card { max-width: 375px; }
    .description-card { font-size: 16px; }
}